<script type="text/javascript" src=
"jet.dashboard/vendor/chart.js/Chart.min.js"></script>
<script type="text/javascript" src="/static/jet.dashboard/dashboard_modules/google_analytics.js"></script>
<div class="dashboard-item-content contrast" style="height: 188px; overflow-x: auto;">
    <div class="padding center">
        <canvas id="chart_8" style="width: 330px; height: 165px;" width="330" height="165">
            <div class="chart-fillColor"></div>
            <div class="chart-strokeColor"></div>
            <div class="chart-pointColor"></div>
            <div class="chart-pointHighlightFill"></div>
            <div class="chart-scaleGridLineColor"></div>
            <div class="chart-scaleLineColor"></div>
            <div class="chart-scaleFontColor"></div>
            <div class="chart-data">
                
                    <div class="chart-data-item" data-date="10/05" data-value="19"></div>
                
                    <div class="chart-data-item" data-date="11/05" data-value="18"></div>
                
                    <div class="chart-data-item" data-date="12/05" data-value="15"></div>
                
                    <div class="chart-data-item" data-date="13/05" data-value="12"></div>
                
                    <div class="chart-data-item" data-date="14/05" data-value="2"></div>
                
                    <div class="chart-data-item" data-date="15/05" data-value="6"></div>
                
                    <div class="chart-data-item" data-date="16/05" data-value="0"></div>
                
            </div>
        </canvas>
        <script>jet.jQuery('#chart_8').googleAnalyticsChart();</script>
    </div>

</div>