<div class="dashboard-item-content" style="height: 255px;">



    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Users</th>
                <th>Sessions</th>
                <th>Views</th>
            </tr>
        </thead>
        <tbody>
            
                <tr>
                    <th>May 16, 2016</th>
                    <td width="1" align="center">0</td>
                    <td width="1" align="center">0</td>
                    <td width="1" align="center">0</td>
                </tr>
            
                <tr>
                    <th>May 15, 2016</th>
                    <td width="1" align="center">6</td>
                    <td width="1" align="center">6</td>
                    <td width="1" align="center">22</td>
                </tr>
            
                <tr>
                    <th>May 14, 2016</th>
                    <td width="1" align="center">2</td>
                    <td width="1" align="center">2</td>
                    <td width="1" align="center">6</td>
                </tr>
            
                <tr>
                    <th>May 13, 2016</th>
                    <td width="1" align="center">12</td>
                    <td width="1" align="center">13</td>
                    <td width="1" align="center">117</td>
                </tr>
            
                <tr>
                    <th>May 12, 2016</th>
                    <td width="1" align="center">15</td>
                    <td width="1" align="center">21</td>
                    <td width="1" align="center">159</td>
                </tr>
            
                <tr>
                    <th>May 11, 2016</th>
                    <td width="1" align="center">18</td>
                    <td width="1" align="center">20</td>
                    <td width="1" align="center">201</td>
                </tr>
            
                <tr>
                    <th>May 10, 2016</th>
                    <td width="1" align="center">19</td>
                    <td width="1" align="center">19</td>
                    <td width="1" align="center">214</td>
                </tr>
            
        </tbody>
    </table>


</div>