<div class="dashboard-item-content contrast" style="height: 59px;">


    <div class="padding center">
        <ul class="inline bordered">
                <li>
                    <div class="big">145</div>
                    <div class="dim">users</div>
                </li>
                <li>
                    <div class="big">213</div>
                    <div class="dim">sessions</div>
                </li>
                <li>
                    <div class="big">1536</div>
                    <div class="dim">views</div>
                </li>
        </ul>
    </div>
</div>
