{% load i18n %}

{% if module.show_title %}
<span class="sidebar-menu-item-title">{{ module.title }}</span>
{% endif %}

<ul class="sidebar-menu-item-list apps-list-pinned">
    <li class="sidebar-menu-item-list-item app-item pinned app-{{ module.title|slugify }}" data-app-label="{{ module.title|slugify }}">
        <a href="{{ module.index_url }}" class="sidebar-menu-item-list-item-link popup-item-link" data-popup-item-id="sidebar-popup-item-1-{{ module.title|slugify }}">
            <span class="sidebar-menu-item-list-item-arrow icon-arrow-right"></span>
            <span class="sidebar-menu-item-list-item-link-pin icon-star pin-toggle"></span>
            <span class="sidebar-menu-item-list-item-link-unpin icon-cross pin-toggle"></span>
            {{ module.title }}
        </a>
    </li>
</ul>
